
*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: lawngreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-div{
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.first-div{
    margin: 15px;
    background-color: red;
    padding: 50px;
}

.form-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}